In [1]:
import numpy as np
import pandas as pd

In [16]:
posts = pd.read_csv('../dvc_dag/data/raw/posts.csv', 
                    on_bad_lines='skip', 
                    delimiter=';', 
                    names=['model', 'desc', 'price', 'label'])

In [18]:
posts.head()

,model,desc,price,label
0,1398,"<p class=""kt-description-row__text kt-descript...",۵٬۳۵۰٬۰۰۰٬۰۰۰ تومان,car_tehran.csv
1,1383,"<p class=""kt-description-row__text kt-descript...",۵٬۵۰۰٬۰۰۰٬۰۰۰ تومان,car_tehran.csv
2,1401,"<p class=""kt-description-row__text kt-descript...",۱٬۸۰۰٬۰۰۰٬۰۰۰ تومان,car_tehran.csv
3,1385,"<p class=""kt-description-row__text kt-descript...",۴٬۶۵۰٬۰۰۰٬۰۰۰ تومان,car_tehran.csv
4,1391,"<p class=""kt-description-row__text kt-descript...",۲٬۹۰۰٬۰۰۰٬۰۰۰ تومان,car_tehran.csv